<div class="card-section">
  <div class="card-container">
    <div class="card-list">
      <div class="card" *ngFor="let product of products">
        <div class="card-body" [routerLink]="['/details', product?._id]">
          <div class="product-image">
            <img [src]="product?.images[0]" alt="product-image" />
          </div>
          <div class="product-body">
            <div class="rating-area">
              <ul>
                <li><mat-icon>star_border</mat-icon></li>
                <li><mat-icon>star_border</mat-icon></li>
                <li><mat-icon>star_border</mat-icon></li>
                <li><mat-icon>star_border</mat-icon></li>
                <li><mat-icon>star_border</mat-icon></li>
                <!-- <li><span>(0)</span></li> -->
              </ul>
            </div>
            <p class="product-title">{{ product.productName | truncate : 50 }}</p>
            <div class="product-price">
              <span class="old-price">৳{{ product.price + product.discountAmount }}</span>
              <span class="new-price">৳{{ product.price }}</span>
            </div>
            <div class="discount">
              <h3>Discount:<span>৳{{ product.discountAmount }}</span></h3>
            </div>
          </div>
        </div>
        <button class="add-button" (click)="addToCart(product?._id, 'Added to Cart Successfully!')">
          <mat-icon>shopping_basket</mat-icon>
          Add
        </button>
      </div>
    </div>
    <div class="more-button">
      <button><mat-icon>remove_red_eye</mat-icon>VIEW ALL DEALS</button>
    </div>
  </div>