<div>
  <div class="sub-icons">
    <div class="icon-container" *ngFor="let item of list">
      <div class="icon">
        <i class="bi {{ item.icon }}"></i>
      </div>
      <div class="text-container">
        <h3>{{ item.title }}</h3>
        <p>{{ item.subTitle }}</p>
      </div>
    </div>

    <!-- <div class="icon-container">
      <div class="icon">
        <i class="bi bi-truck"></i>
      </div>
      <div class="text-container">
        <h3>HOME DELIVERY</h3>
        <p>24-72 Hours</p>
      </div>
    </div> -->

    <!-- <div class="icon-container">
      <div class="icon">
        <i class="bi bi-truck"></i>
      </div>
      <div class="text-container">
        <h3>HOME DELIVERY</h3>
        <p>24-72 Hours</p>
      </div>
    </div> -->

    <!-- <div class="icon-container">
      <div class="icon">
        <i class="bi bi-truck"></i>
      </div>
      <div class="text-container">
        <h3>HOME DELIVERY</h3>
        <p>24-72 Hours</p>
      </div>
    </div> -->
  </div>
</div>
