<div class="top-container">
  <div class="header">
    <img class="logo" [routerLink]="['/home']" src="assets/icons/logo.png">
    <div class="search-box" tabindex="0">
      <input placeholder="Search products in Heriken...">
      <mat-icon>search</mat-icon>
    </div>
    <div class="action-icons">
      <div>
        <mat-icon>favorite</mat-icon>
      </div>
      <div>
        <mat-icon>compare_arrows</mat-icon>
      </div>
    </div>
  </div>
  <hr class="division">
  <!-- Navbar Starts -->
  <div class="navbar">
    <ul>
      <li>Home</li>
      <li>Products</li>
    </ul>
  </div>
</div>