.scroll {
  background-color: #94a9a0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 15px 3px #47fe7e80;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
