// Bottom Navbar
.bottom-nav {
  height: 60px;
  background-color: white;
  box-shadow: 0 -5px 15px #0000001a;
  justify-content: space-between;
  align-items: center;
  display: none;
  border-radius: 10px 10px 0px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  @media only screen and (max-width: 991px) {
    display: flex;
    padding: 0px 50px;
  }

  @media only screen and (max-width: 550px) {
    display: flex;
    padding: 0px 10px;
  }

  div {
    color: #55555a;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: #94a9a0;
      transition: 0.3s ease-in;
    }

    p {
      margin-bottom: 0px;
    }
  }
}
