<div class="bottom-nav">
    <div [routerLink]="['/pages/']">
        <mat-icon>home</mat-icon>
        <p>Home</p>
    </div>
    <!-- <div>
        <mat-icon>list</mat-icon>
        <p>Categories</p>
    </div> -->
    <div [routerLink]="['/pages/checkout']">
        <mat-icon>shopping_basket</mat-icon>
        <p>Cart</p>
        <div class="cart-count">
            <span>00</span>
        </div>
    </div>
    <!-- <div>
        <mat-icon>favorite</mat-icon>
        <p>Wishlist</p>
        <div class="fav-count">
            <span>00</span>
        </div>
    </div> -->
</div>