<div class="product">
  <div class="card-list">
    <div class="card" *ngFor="let product of products">
      <div>
        <div [routerLink]="['/details', product?._id]">
          <div class="product-image">
            <img [src]="product?.images[0]" alt="product-image" />
          </div>
          <div class="content">
            <div class="icons">
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <span>(0)</span>
            </div>
            <h3 class="title">
              {{ product.productName | truncate : 50 }}
            </h3>
            <div class="price">
              <!-- <h3 class="old-price">৳{{ product.oldPrice }}</h3> -->
              <h3 class="new-price">৳{{ product.price }}</h3>
            </div>
            <!-- <h2 class="discount">Discount:৳{{ product.discount }}</h2> -->
          </div>
        </div>
        <button
          class="add"
          (click)="addToCart(product?._id, 'Added to Cart Successfully!')"
        >
          <i class="bi bi-basket2-fill"></i>
          Add
        </button>
      </div>
    </div>
  </div>
</div>
