<div class="container">
  <div class="main-carousel">
    <div class="images">
      <div class="prod-img">
        <div class="img-container">
          <img src="assets/images/tws1-a4010.webp">
        </div>
      </div>
      <div class="other-img">
        <img src="assets/images/tws1-a4010.webp">
        <img src="assets/images/tws1-a4010.webp">
        <img src="assets/images/tws1-a4010.webp">
        <img src="assets/images/tws1-a4010.webp">
      </div>
    </div>
    <div class="main-info">
      <p class="title">Remax Tws-18 Smart Touch Binaural Stereo Wireless Bluetooth Earbuds</p>
      <div class="brand-code">
        <p>Product ID: 801976</p>
        <p>BRAND: Remax</p>
      </div>
      <div class="price">
        <div>
          <p class="previous">৳1400</p>
          <p class="current">৳999</p>
        </div>
        <div class="discount">Discount: ৳401</div>
      </div>
      <div class="action-buttons">
        <div class="add-buy">
          <button class="add"><mat-icon>shopping_basket</mat-icon>ADD TO CART</button>
          <button>Buy Now</button>
        </div>
        <div class="wishlist">
          <button><mat-icon>favorite</mat-icon>ADD TO WISHLIST</button>
        </div>
      </div>
    </div>
  </div>

  <div class="toggler">
    <a>DESCRIPTIONS</a>
    <div class="line"></div>
    <a>CUSTOMER REVIEW (0)</a>
  </div>

  <div class="related">
    <p class="heading">Related items</p>
    <div class="cards">
      <div class="card" *ngFor="let product of related">
        <div class="card-img">
          <img src={{product.imgLink}}>
        </div>
        <div class="rating">
          <mat-icon>star_border</mat-icon>
          <mat-icon>star_border</mat-icon>
          <mat-icon>star_border</mat-icon>
          <mat-icon>star_border</mat-icon>
          <mat-icon>star_border</mat-icon>
          <p>(0)</p>
        </div>
        <p class="card-title">{{product.title}}</p>
        <p class="price">৳1,631</p>
        <div class="add-button">
          <button><mat-icon>shopping_basket</mat-icon>ADD</button>
        </div>
      </div>
    </div>
    <div class="more-button">
      <button><mat-icon>remove_red_eye</mat-icon>VIEW ALL RELATED ITEMS</button>
    </div>