<div class="container">
  <div class="main-carousel">
    <div class="images">
      <div class="prod-img">
        <div class="img-container">
          <img [src]="product?.images" />
        </div>
      </div>
      <!-- <div class="other-img">
        <img src="assets/images/tws1-a4010.webp">
        <img src="assets/images/tws1-a4010.webp">
        <img src="assets/images/tws1-a4010.webp">
        <img src="assets/images/tws1-a4010.webp">
      </div> -->
    </div>
    <div class="main-info">
      <p class="title">{{ product?.productName }}</p>
      <div class="brand-code">
        <!-- <p>Product ID: {{ product?.id }}</p> -->
        <!-- <p>BRAND: Remax</p> -->
      </div>
      <div class="price">
        <div>
          <!-- <p class="previous">৳{{ product?.oldPrice }}</p> -->
          <p class="current">৳{{ product?.price }}</p>
        </div>
        <!-- <div class="discount">Discount: ৳{{ product?.discount }}</div> -->
      </div>
      <div class="action-buttons">
        <div class="add-buy">
          <button class="add" (click)="addToCart('Added to Cart Successfully!')">
            <mat-icon>shopping_basket</mat-icon>ADD TO CART
          </button>
          <button>Buy Now</button>
        </div>
        <div class="wishlist">
          <button><mat-icon>favorite</mat-icon>ADD TO WISHLIST</button>
        </div>
      </div>
    </div>
  </div>

  <div class="toggler">
    <a (click)="assignDetailsOrReviews('more-details')">MORE DETAILS</a>
    <div class="line"></div>
    <a (click)="assignDetailsOrReviews('customer-reviews')">CUSTOMER REVIEWS (0)</a>
  </div>

  <ng-container *ngComponentOutlet="detailsAndRatingSection"></ng-container>

  <div class="related">
    <p class="heading">Related items</p>
    <app-product-card></app-product-card>
    <div class="more-button">
      <button><mat-icon>remove_red_eye</mat-icon>VIEW ALL RELATED ITEMS</button>
    </div>
  </div>
</div>