<div class="signup">
  <div class="signup-container">
    <div class="container-left">
      <img src="../../../assets/images/login.svg" alt="signup" />
    </div>
    <div class="container-right">
      <form action="">
        <input type="text" placeholder="Enter your Name" />
        <input type="email" placeholder="Enter your Email" />
        <input type="password" placeholder="Enter your Password" />
        <input type="password" placeholder="Confirm your Password" />
        <div class="more-button">
          <button type="button" class="signup">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>