.signup {
  .signup-container {
    max-width: 850px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    border-radius: 10px;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: 864px) {
      display: flex;
      flex-direction: column;
    }

    .container-left {
      width: 20rem;
      padding: 20px 0;

      @media (max-width: 864px) {
        margin: 0 auto;
      }

      img {
        width: 100%;
      }
    }

    .container-right {
      padding: 25px 20px;

      @media (max-width: 864px) {
        margin: 0 auto;
      }
      form {
        display: flex;
        gap: 20px;
        flex-direction: column;

        input {
          width: 29rem;
          height: 40px;
          border-radius: 5px;
          border: 2px solid transparent;
          outline: none;
          background-color: #d1cece;
          padding-left: 10px;

          @media (max-width: 500px) {
            width: 19rem;
            height: 37px;
          }

          &:focus {
            border-color: #94a9a0;
            background-color: #fff;
          }
        }

        .more-button {
          margin: 0 auto;

          button {
            height: 40px;
            width: 150px;
            background-color: #94a9a0;
            border: 2px solid transparent;
            color: white;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 500;
            transition: 0.3s all ease-in;
            cursor: pointer;

            &:hover {
              background-color: #fff;
              color: #94a9a0;
              border: 2px solid #94a9a0;
            }
          }
        }
      }
    }
  }
}
