<div class="footer">
  <div class="container">
    <div class="foo-cols">
      <div class="foo-col">
        <img routerLink="['/home']" src="assets/icons/footer-logo.png">
        <p>Feel the Most Trusted Online Shopping Experience in Bangladesh.</p>
        <div class="social-icons">
          <div>
            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
          </div>
          <div>
            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
          </div>
          <div>
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
          <div>
            <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="foo-col">
        <h1>Contact Us</h1>
        <div>
          <mat-icon>alternate_email</mat-icon>
          <p>support@heriken.com</p>
        </div>
        <div>
          <mat-icon>local_phone</mat-icon>
          <p>01832-883232</p>
        </div>
        <div>
          <mat-icon>location_on</mat-icon>
          <p>Jaman Market, 36 Zigatola, Dhanmondi, Dhaka</p>
        </div>
      </div>
      <div class="foo-col">
        <h1>Quick Links</h1>
        <p class="link">Warranty Policy</p>
        <p class="link">Return & Refund Policy</p>
        <p class="link">Privacy Policy</p>
        <p class="link">Terms and Conditions</p>
        <p class="link">About Us</p>
        <p class="link">Work With Us</p>
      </div>
      <div class="foo-col">
        <h1>Useful Links</h1>
        <p class="link">Why Shop Online With Us</p>
        <p class="link">Online Purchase Procedure</p>
        <p class="link">Online Payment Methods</p>
        <p class="link">Online Payment Security</p>
        <p class="link">Contact Service Center</p>
        <p class="link">After Sales Support</p>
        <p class="link">FAQ</p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div>
      <div>&#169; All Copyrights Reserved by <span [routerLink]="['/home']">Heriken</span></div>
    </div>
  </div>
</div>
<!-- Responsive Footer -->
<div class="res-footer">
  <div>
    <mat-icon>home</mat-icon>
    <p>Home</p>
  </div>
  <div>
    <mat-icon>list</mat-icon>
    <p>Categories</p>
  </div>
  <div>
    <mat-icon>shopping_basket</mat-icon>
    <p>Cart</p>
  </div>
  <div>
    <mat-icon>favorite</mat-icon>
    <p>Wishlist</p>
  </div>
</div>
<!-- Scroll Button -->
<div class="scroll" (click)="scrollToTop()">
  <mat-icon>arrow_upward</mat-icon>
</div>