<div class="container">
    <div class="form-area">
        <div class="form-top">
            <h3>Forgot Your Password?</h3>
            <p>Enter a new password to reset</p>
        </div>
        <form [formGroup]="adminForgotPasswordForm" (ngSubmit)="forgotPasswordAdmin()">
            <div class="form-main">
                <div class="form-input">
                    <div class="form-input-main">
                        <input type="text" placeholder="Enter your Username" formControlName="username" />
                        <div *ngIf="
                  adminForgotPasswordForm.controls['username']?.dirty ||
                  (adminForgotPasswordForm.controls['username']?.touched &&
                    adminForgotPasswordForm.controls['username'].invalid)
                ">
                            <mat-error *ngIf="
                    adminForgotPasswordForm.controls['username']?.hasError('required')
                  ">Email is required</mat-error>
                        </div>
                    </div>
                    <div class="form-input-main">
                        <input type="password" placeholder="Enter your new password" formControlName="password" />
                        <div *ngIf="
                  adminForgotPasswordForm.controls['password']?.dirty ||
                  (adminForgotPasswordForm.controls['password']?.touched &&
                    adminForgotPasswordForm.controls['password'].invalid)
                ">
                            <mat-error *ngIf="
                    adminForgotPasswordForm.controls['password']?.hasError('required')
                  ">New password is required</mat-error>
                            <mat-error *ngIf="adminForgotPasswordForm.controls['password']?.hasError('minlength')">
                                Please enter a password of atleast 5 characters
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="error-response" *ngIf="errorResponse">
                    <strong>{{errorResponse}}</strong>
                </div>
                <div class="form-sub-btn">
                    <button [disabled]="adminForgotPasswordForm.invalid">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>