<div class="main">
  <div class="header">
    <div class="background"></div>

    <div class="content">
      <div class="content-text">
        <h3>Find the Boundaries. Push Through!</h3>
        <h2>Summer Sale</h2>
        <h1>70% OFF</h1>

        <div class="shop-offer">
          <p>STARTING AT</p>
          <button class="value">$199</button>
          <button class="shop">SHOP NOW!</button>
        </div>
      </div>

      <!-- <div class="content-poster">
        <img src="../../assets/images/poster.png" alt="image" />
        <h2>Poster header</h2>
      </div> -->
    </div>
  </div>

  <app-subicon></app-subicon>

  <app-products> </app-products>
</div>
