<div class="main">
  <div class="header">
    <div class="background"></div>

    <div class="content">
      <div class="content-text">
        <h3>Find the Boundaries. Push Through!</h3>
        <h2>Summer Sale</h2>
        <h1>70% OFF</h1>

        <div class="shop-offer">
          <p>STARTING AT</p>
          <button class="value">$199</button>
          <button class="shop" [routerLink]="['allproducts']">SHOP NOW!</button>
        </div>
      </div>
    </div>
  </div>

  <div class="products">
    <app-subicon></app-subicon>
  </div>

  <app-product-card></app-product-card>

  <div class="more-button">
    <button><mat-icon>remove_red_eye</mat-icon>VIEW ALL DEALS</button>
  </div>
</div>