<!-- <div class="product">
  <div class="card-list">
    <div class="card" [routerLink]="['details']" *ngFor="let product of products">
      <div class="product-image">
        <img src="{{ product.imgLink }}" alt="product-image" />
      </div>

            <h2 class="discount">Discount:৳{{ product.discount }}</h2>
          </div>

        </div>

        <button  (click)="addToCart(product._id)" class="add">
          <i class="bi bi-basket2-fill"></i>
          Add
        </button>
      </div>
    </div>
  </div>
  <div class="more-button">
    <button><mat-icon>remove_red_eye</mat-icon>VIEW ALL DEALS</button>
  </div>
</div> -->
