<div class="allproducts">
  <div class="product-filter">
    <div class="filter-range">
      <h3 class="filter-title">Filter by Price</h3>
      <div class="range">
        <input type="text" placeholder="Min-00" />
        <input type="text" placeholder="Max-5k" />
      </div>

      <div class="filter-btn">
        <button><mat-icon>search</mat-icon> Search</button>
      </div>
    </div>

    <div class="filter-category filter-range">
      <h3 class="filter-title">Filter By Category</h3>

      <div class="categories">
        <label>
          <input type="checkbox" class="check" />
          <span>Groceries</span>
        </label>
        <p class="category-quantity">(12)</p>
      </div>

      <div class="categories">
        <label>
          <input type="checkbox" class="check" />
          <span>Kids Toys</span>
        </label>
        <p class="category-quantity">(79)</p>
      </div>

      <div class="categories">
        <label>
          <input type="checkbox" class="check" />
          <span>Leather</span>
        </label>
        <p class="category-quantity">(29)</p>
      </div>

      <div class="categories">
        <label>
          <input type="checkbox" class="check" />
          <span>Gadgets</span>
        </label>
        <p class="category-quantity">(226)</p>
      </div>

      <div class="categories">
        <label>
          <input type="checkbox" class="check" />
          <span>Women's Clothes</span>
        </label>
        <p class="category-quantity">(258)</p>
      </div>

      <div class="filter-btn">
        <button><mat-icon>delete</mat-icon> Clear</button>
      </div>
    </div>
  </div>
  <app-product-card></app-product-card>
</div>